osx_image: xcode10
language: objective-c
script:
  # - swift test
  - swift package generate-xcodeproj
  - xcodebuild test -scheme fucking-beijing-bus-api-Package -enableCodeCoverage YES
after_success:
  - bash <(curl -s https://codecov.io/bash)
